@(data:List[(String,String)],start:Int,end:Int,count:Long)
@import play.api.libs.json.Json
@main(title = "Data") {

    <div style="margin: 5%; float: left" id="form_div">
        <form id="state_form">

        </form>
    </div>
    <div style="margin: 5%; float: right" id="form_logout">
        <form id="logout_form" method="post" action="/dataPage">
            <input type="submit" name="logout" value="Logout">
        </form>
    </div>
    <div id="mainContent">
        <div id="tabularContent" style="width:600px;height:250px;float: left;margin: 50px">
            <table>
                    <tr>
                        <th>School Name</th>
                        <th>Grant Amount</th>
                    </tr>
                    @data.slice(start,end).map { item =>
                        <tr>
                        <td>@item._1</td>
                        <td>@item._2</td>
                        </tr>
                    }
            </table>
            <form method="GET" action="/dataPage">
                @if(start>=25){
                    <input type="hidden" name="start_prev" value="@{start-25}">
                    <input type="hidden" name="end_prev" value="@{end-25}">
                    <input type="submit" value="Prev" name="prev">
                }
                @if(end < count){
                    <input type="hidden" name="start_next" value="@{start+25}">
                    <input type="hidden" name="end_next" value="@{end+25}">
                    <input type="submit" value="Next" name="next">
                }
            </form>
        </div>
        <div id="tester" align="right" style="width:600px;height:250px;float: right;margin: 50px"></div>
    </div>
    <script type="application/javascript">
        var TESTER = document.getElementById('tester');

        var x = @Html(Json.stringify(Json.toJson(data.slice(start,end).map(item => {item._1.toString}))));
        var y = @Html(Json.stringify(Json.toJson(data.slice(start,end).map(item => {item._2.toString}))));
        Plotly.plot(TESTER, [
                {
                    x,y
                }
            ],
            {
                margin: {
                    t: 0
                }
            });
    </script>
}